/* style.css */
body{
  background: rgb(255,150,150);
  color: white;
  font-size: 20px;
  font-family: 'IM Fell Great Primer', serif;
}
h1{
  font-family: 'Oswald', sans-serif;
  color: white
  font-weight: heavy;
  font-size: 50px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 8px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}